.container {
  display: flex;
  margin: 0 10%;
  gap: 40px;
}

.image img {
  border-color: var(--outline-color);
  border-width: 2px;
  border-style: solid;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linkBar {
  display: flex;
  gap: 10px;
}
