.imageContainer {
  width: 50%;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  background-color: var(--outline-color);
  height: fit-content;
  align-self: center;
}

.textBlock {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  justify-content: center;
}

.centeredContainer {
  background-color: var(--secondary-container-color);
  padding: 20px;
  border-radius: 25px;
  margin: 3% 0;
}

.centeredContainer p {
  color: var(--on-secondary-container-color);
}
