.container {
  display: flex;
  margin-top: 1em;
  background-color: #fff2cc;
}

.words {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1em;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 152, 115); /* #fff2cc; */
  border-radius: 1em;
  padding: 2em;
  width: 50%;
  transition: padding 0.5s;
}

.imageContainer:hover {
  padding: 1em;
}
