:root {
  --main-bg-color: #fffbff;
  --primary-color: #9c423a;
  --on-primary-color: #ffffff;
  --secondary-text-color: #775652;
  --tertiary-color: #715b2e;
  --on-tertiary-color: #ffffff;
  --outline-color: #857371;
  --primary-container-color: #ffdad6;
  --on-primary-container-color: #410002;
  --secondary-container-color: #fddfa6;
  --on-secondary-container-color: #261900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Abril Fatface", serif;
}

body {
  background-color: var(--main-bg-color);
}

h1,
h2 {
  color: var(--primary-color);
}

h3,
h4 {
  color: var(--secondary-text-color);
}

p {
  color: var(--primary-color);
}

a,
a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-text-color);
}

li {
  margin-left: 40px;
}
