.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  width: 60%;
  font-size: 1.5em;
  margin-bottom: 3em;
}

.pageContainer p {
  font-size: 0.8em;
}

.featured {
  align-self: flex-start;
  font-size: 1.5em;
  background-color: var(--primary-container-color);
  padding: 15px;
  width: 100%;
  border-radius: 15px;
}
