.container {
  display: flex;
  margin-top: 3%;
}

.words {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 3%;
}

.words h3 {
  font-style: italic;
  font-size: 1.3em;
}

.words h4 {
  font-style: italic;
  font-size: 1em;
}

.words p {
  margin-bottom: 3%;
}

.words li {
  font-size: 0.8em;
  color: var(--primary-color);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 40px;
  width: 50%;
  transition: padding 0.5s;
}

.imageContainer:hover {
  padding: 20px;
}

.links,
.links:visited {
  background-color: var(--secondary-container-color);
  color: var(--on-secondary-container-color);
  padding: 5px 10px;
  border-radius: 25px;
  width: fit-content;
}

.links:hover {
  background-color: var(--tertiary-color);
  color: var(--on-tertiary-color);
}

.linkBar {
  display: flex;
  justify-content: space-evenly;
}

.skillsContainer {
  display: flex;
}

.list {
  width: 50%;
  margin-bottom: 3%;
}
