.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 5%;
}

.active,
.inactive {
  font-size: 1.5em;
  text-decoration: none;
  margin: 0 0 0 1%;
}

.active {
  font-weight: 700;
}

.home {
  margin: 0 auto 0 0;
}
