.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  text-align: center;
}

.imageContainer {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.link {
  width: fit-content;
}
